<a
  clrVerticalNavLink 
  *ngFor="let student of students | orderBy: 'number'"
  [class.active]="studentIdSelected == student.id"
  (click)="selectStudent(student)">
{{ student.number }} - {{ student.name }}
</a>
<a clrVerticalNavLink (click)="isAddStudentModalOpen = true">Agregar alumno</a>

<clr-modal
  [clrModalSize]="'lg'"
  [clrModalClosable]="false"
  [(clrModalOpen)]="isAddStudentModalOpen">
  <h3 class="modal-title">Agregar alumno</h3>

  <div class="modal-body">
    <div class="row">
      <div class="col-xs-4">
        <input
          type="number"
          placeholder="Número del alumno"
          [disabled]="isLoading"
          [(ngModel)]="newStudent.number">
      </div>
      
      <div class="col-xs-8">
        <input
          type="text"
          placeholder="Nombre del alumno"
          [disabled]="isLoading"
          [(ngModel)]="newStudent.name">
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="modal-spinner">
      <spinner *ngIf="isLoading"></spinner>
    </div>

    <button
      type="button"
      class="btn btn-outline"
      [disabled]="isLoading"
      (click)="closeAddStudentModal()">
    cancelar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!newStudent.name || !newStudent.number || isLoading"
      (click)="addStudent()">
    agregar
    </button>
  </div>
</clr-modal>