.nav-text:hover, #edit-info-icon:hover, #edit-incidents-icon:hover, .title:hover, .tooltip:hover {
    cursor: pointer;
}

.modal-spinner {
    padding-top: 0.6em;
    text-align: right;
}

#course-info, #group-incidents {
    white-space: pre-line;
    word-wrap: break-word;
}