<header class="header-2">
  <div class="branding">
    <a class="title" (click)="navigateWithContextParams('/office')">Libertalia</a>
  </div>

  <div class="header-nav">
    <span class="nav-link nav-text tooltip tooltip-md tooltip-bottom-right" [routerLink]="['/context']" role="tooltip" aria-haspopup="true">
      Plan educativo: {{ contextSelected.educPlanName }} / Curso: {{ contextSelected.courseName }} / Grupo: {{ contextSelected.groupName }} 
      <span class="tooltip-content">Seleccionar contexto</span>
    </span>
  </div>

  <div class="header-nav" (click)="navigateWithContextParams('/office')">
    <a class="nav-link nav-icon tooltip tooltip-md tooltip-bottom-right" role="tooltip" aria-haspopup="true">
      <clr-icon shape="home"></clr-icon>
      <span class="tooltip-content">Oficina</span>
    </a>
  </div>

  <div class="header-nav" (click)="isEditCourseInfoModalOpen = true">
    <a class="nav-link nav-icon tooltip tooltip-md tooltip-bottom-right" role="tooltip" aria-haspopup="true">
      <clr-icon shape="info-standard"></clr-icon>
      <span class="tooltip-content">Información del curso</span>
    </a>
  </div>

  <div class="header-nav" (click)="navigateWithContextParams('/groupFiles')">
    <a class="nav-link nav-icon tooltip tooltip-md tooltip-bottom-right" role="tooltip" aria-haspopup="true">
      <clr-icon shape="folder"></clr-icon>
      <span class="tooltip-content">Archivos del grupo</span>
    </a>
  </div>

  <div class="header-nav" (click)="isGroupIncidentsModalOpen = true">
    <a class="nav-link nav-icon tooltip tooltip-md tooltip-bottom-right" role="tooltip" aria-haspopup="true">
      <clr-icon shape="warning-standard"></clr-icon>
      <span class="tooltip-content">Incidencias del grupo</span>
    </a>
  </div>

  <div class="header-nav" (click)="navigateWithContextParams('/contextEdit')">
    <a class="nav-link nav-icon tooltip tooltip-md tooltip-bottom-right" role="tooltip" aria-haspopup="true">
      <clr-icon shape="pencil"></clr-icon>
      <span class="tooltip-content">Editar contexto</span>
    </a>
  </div>

  <div class="header-nav" (click)="logout()">
    <a class="nav-link nav-icon tooltip tooltip-md tooltip-bottom-right" role="tooltip" aria-haspopup="true">
      <clr-icon shape="logout"></clr-icon>
      <span class="tooltip-content">Cerrar sesión</span>
    </a>
  </div>
</header>

<clr-modal
  [clrModalSize]="'xl'"
  [clrModalClosable]="false"
  [clrModalStaticBackdrop]="true"
  [(clrModalOpen)]="isEditCourseInfoModalOpen">
  <h3 class="modal-title">
    Información del curso: {{ contextSelected.courseName }}
    &nbsp;
    <clr-icon
      id="edit-info-icon"
      shape="edit"
      (click)="isEditCourseInfoTextAreaOpen = !isEditCourseInfoTextAreaOpen">
    </clr-icon>
  </h3>

  <div class="modal-body">
    <p id="course-info" *ngIf="!isEditCourseInfoTextAreaOpen">{{ courseInfo }}</p>
    <textarea
      *ngIf="isEditCourseInfoTextAreaOpen"
      rows="3"
      [disabled]="isLoading"      
      [(ngModel)]="courseInfoEditable">
    </textarea>

    <br>

    <div class="row">
      <div class="col-xs-9">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!courseInfoEditable || courseInfoEditable == courseInfo || isLoading"
          (click)="updateCourseInfo()">
        guardar cambios
        </button>
        <button
          type="button"
          class="btn btn-outline"
          [disabled]="isLoading"
          (click)="closeEditCourseInfoModal()">
        cancelar
        </button>
      </div>

      <div class="col-xs-3 flex-xs-middle">
        <div class="modal-spinner">
          <spinner *ngIf="isLoading"></spinner>
        </div>
      </div>
    </div>
  </div>
</clr-modal>

<clr-modal
  [clrModalSize]="'xl'"
  [clrModalClosable]="false"
  [clrModalStaticBackdrop]="true"
  [(clrModalOpen)]="isGroupIncidentsModalOpen">
  <h3 class="modal-title">
    Incidencias del grupo: {{ contextSelected.groupName }}
    &nbsp;
    <clr-icon
      id="edit-incidents-icon"
      shape="edit"
      (click)="isGroupIncidentsTextAreaOpen = !isGroupIncidentsTextAreaOpen">
    </clr-icon>
  </h3>

  <div class="modal-body">
    <p id="group-incidents" *ngIf="!isGroupIncidentsTextAreaOpen">{{ groupIncidents }}</p>
    <textarea
      *ngIf="isGroupIncidentsTextAreaOpen"
      rows="3"
      [disabled]="isLoading"
      [(ngModel)]="groupIncidentsEditable">
    </textarea>

    <br>

    <div class="row">
      <div class="col-xs-9">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!groupIncidentsEditable || groupIncidentsEditable == groupIncidents || isLoading"
          (click)="updateGroupIncidents()">
        guardar cambios
        </button>
        <button
          type="button"
          class="btn btn-outline"
          [disabled]="isLoading"
          (click)="closeGroupIncidentsModal()">
        cancelar
        </button>
      </div>

      <div class="col-xs-3 flex-xs-middle">
        <div class="modal-spinner">
          <spinner *ngIf="isLoading"></spinner>
        </div>
      </div>
    </div>
  </div>
</clr-modal>