<div class="navbar-fixed">
    <ul id="options-dropdown" class="dropdown-content">
      <li><a class="black-text" href="#!">Cerrar sesión</a></li>
    </ul>
  <nav>
    <div class="nav-wrapper light-green lighten-1">
      <img id="libertalia-img" src="../assets/libertalia.png">
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="options-dropdown">Opciones<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">school</i>Plan educativo
            <span class="badge" data-badge-caption="Licenciatura"></span>
          </div>

          <div class="collapsible-body">
            <div class="input-field">
              <input id="educ-plan-search" type="text" class="validate">
              <label for="educ-plan-search">Filtrar por nombre</label>
            </div>

            <div class="collection">
              <a href="#!" class="collection-item waves-effect waves-light black-text">Bachillerato</a>
              <a href="#!" class="collection-item waves-effect waves-light black-text active">Licenciatura</a>
              <a href="#!" class="collection-item waves-effect waves-light black-text">Maestría</a>
            </div>

            <!-- <a class="waves-effect waves-light light-green lighten-1 btn">agregar nuevo plan educativo</a> -->
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">assignment</i>Cursos
            <span class="badge" data-badge-caption="Curso 2"></span>              
          </div>

          <div class="collapsible-body">
            <div class="input-field">
              <input id="courses-search" type="text" class="validate">
              <label for="courses-search">Filtrar por nombre</label>
            </div>

            <div class="collection">
              <a href="#!" class="collection-item waves-effect waves-light black-text">Curso 1</a>
              <a href="#!" class="collection-item waves-effect waves-light black-text active">Curso 2</a>
              <a href="#!" class="collection-item waves-effect waves-light black-text">Curso 3</a>
            </div>

            <!-- <a class="waves-effect waves-light light-green lighten-1 btn">agregar nuevo curso</a> -->
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">people</i>Grupos
            <span class="badge" data-badge-caption="Grupo 2"></span>              
          </div>
          
          <div class="collapsible-body">
            <div class="input-field">
              <input id="courses-search" type="text" class="validate">
              <label for="courses-search">Filtrar por nombre</label>
            </div>

            <div class="collection">
              <a href="#!" class="collection-item waves-effect waves-light black-text">Grupo 1</a>
              <a href="#!" class="collection-item waves-effect waves-light black-text active">Grupo 2</a>
              <a href="#!" class="collection-item waves-effect waves-light black-text">Grupo 3</a>
            </div>

            <!-- <a class="waves-effect waves-light light-green lighten-1 btn">agregar nuevo grupo</a> -->
          </div>
        </li>
      </ul>
  
      <a class="waves-effect waves-light light-green lighten-1 btn disabled">confirmar</a>    
  </div>
</div>