<div class="main-container">
  <navbar (courseInfoUpdated)="displayAlert($event)"></navbar>

  <div class="content-container">
    <div class="content-area">
      <div class="row" *ngIf="isAlertOpen">
        <div class="col-xs-12">
          <clr-alert
            [clrAlertType]="alertType"
            (clrAlertClosedChange)="closeAlert()">
            <div clr-alert-item class="alert-item">
              <span class="alert-text">{{ alertMessage }}</span>
            </div>
          </clr-alert>
        </div>
        <br>
      </div>

      <div *ngIf="noStudents">
        <div class="row flex-items-xs-center" >
          <h3>No hay estudiantes registrados en este grupo.</h3>
        </div>

        <br>

        <div class="row flex-items-xs-center" *ngIf="isLoading">
          <spinner></spinner>
        </div>
      </div>

      <activities
        #activities
        *ngIf="!noStudents"
        [studentSelected]="studentSelected"
        (alertEmitter)="displayAlert($event)">
      </activities>
    </div>

    <nav class="sidenav">
      <students
        (studentAdded)="displayAlert($event)"
        (noStudents)="displayNoStudents($event)"
        (studentSelected)="studentSelected = $event">
      </students>
    </nav>
  </div>
</div>