<div class="container">
  <div class="card hoverable horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <h5>
          Curso: {{ currentContext.courseName }} &nbsp;&nbsp;&nbsp;&nbsp; Grupo: {{ currentContext.groupName }}
          <i class="material-icons modal-trigger right" data-target="editContext">edit</i>
        </h5>
      </div>
    </div>
  </div>

  <div materialize="modal" id="editContext" class="modal">
    <div class="modal-content">
      <h4>Editar Curso / Grupo</h4>

      <div class="row">
        <div class="input-field col s6">
          <input [(ngModel)]="currentContext.courseName" id="courseName" type="text">
          <label for="courseName">Curso</label>
        </div>

        <div class="input-field col s6">
          <input [(ngModel)]="currentContext.groupName" id="groupName" type="text">
          <label for="groupName">Grupo</label>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <a (click)="editContext()" class="modal-action modal-close waves-effect waves-light blue darken-3 btn">guardar cambios</a>
    </div>
  </div>
  
  <ul materialize="tabs" class="tabs text-black">
    <li class="tab col s4"><a class="black-text active" href="#students-tab">Alumnos</a></li>
  </ul>

  <div id="students-tab">
    <router-outlet></router-outlet>
  </div>
</div>