<div class="navbar-fixed">
  <ul id="options-dropdown" class="dropdown-content">
    <li><a class="black-text" routerLink="/context">Cursos/Grupos</a></li>
    <li><a class="black-text" (click)="logout()">Cerrar sesión</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper orange accent-3">
      <img id="libertalia-img" src="../assets/libertalia.png">
      <ul class="right hide-on-med-and-down">
        <li><a materialize="dropdown" class="dropdown-button" data-activates="options-dropdown">Opciones<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>