#libertalia-img {
    height: 80%;
    width: auto;
    margin-top: 0.35rem;
    margin-left: 1rem;
}

.container {
    margin-top: 3rem;    
    max-width: 90%;
    width: 90%;
}

.input-field {
    margin-top:2rem;
}

.input-field input[type=text]:focus + label {
    color: #000;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}