#login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-field input:focus + label {
    color: #ff9100;
}

.input-field input:focus {
    border-bottom: 1px solid #ff9100;
    box-shadow: 0 1px 0 0 #ff9100;
}

.input-field .prefix.active {
    color: #ff9100;
}