<div class="container">
  <div class="row">
    <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
        <li *ngFor="let mainContext of mainContexts">
          <div class="collapsible-header" (click)="getSubcontexts(mainContext.order)">
            <i class="material-icons">{{ mainContext.icon }}</i>{{ mainContext.name }}
            <span class="badge">{{ subContextSelected[mainContext.order]?.name }}</span>
          </div>

          <div class="collapsible-body">
            <div class="input-field" *ngIf="subContexts">
              <input id="educ-plan-search" [(ngModel)]="contextFilter" type="text">
              <label for="educ-plan-search">Filtrar por nombre</label>
            </div>
            
            <div class="collection">
              <div *ngIf="subContexts">
                  <a
                    *ngFor="let subContext of subContexts | filter: contextFilter"
                    (click)="selectSubcontext(mainContext.order, subContext)"
                    [class.active]="subContext.id == subContextSelected[mainContext.order]?.id"
                    class="collection-item waves-effect waves-light black-text">{{ subContext.name }}</a>
                </div>
    
                <button
                  *ngIf="subContexts && (subContexts | filter: contextFilter).length == 0"
                  (click)="addSubcontext(mainContext.order)"
                  [disabled]="contextFilter.length < 1"
                  class="waves-effect waves-light blue darken-3 btn">agregar a {{ mainContext.name }}</button>
              </div>
              <div *ngIf="!subContexts && mainContext.order > 0">
                <h5 *ngIf="mainContext.order == 1">Selecciona un plan educativo primero.</h5>
                <h5 *ngIf="mainContext.order == 2">Selecciona un curso primero.</h5>
              </div>
          </div>
        </li>
      </ul>
  
      <button
        [disabled]="subContextSelected.length < 3"
        class="waves-effect waves-light blue darken-3 btn">confirmar</button>    
  </div>
</div>