<div class="container">
    <div class="row flex-items-xs-center">
        <h1>Libertalia</h1>
    </div>

    <div class="row flex-items-xs-center">
        <div class="col-xs-5">
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <div class="form-block">
                    <label
                        for="email"
                        aria-haspopup="true"
                        role="tootltip"
                        class="tooltip tooltip-validation tooltip-md"
                        [class.invalid]="email.invalid && (email.dirty || email.touched)">
                        <input
                            required
                            email
                            ngModel
                            [disabled]="isLoading"
                            type="email"
                            id="email"
                            name="email"
                            #email="ngModel"
                            placeholder="Email"
                            size="44">
                        <span class="tooltip-content">Ingresa un email válido.</span>
                    </label>
                    
                    <br><br>
                    
                    <label 
                        for="password"
                        aria-haspopup="true"
                        role="tootltip"
                        class="tooltip tooltip-validation tooltip-md"
                        [class.invalid]="password.invalid && (password.dirty || password.touched)">
                        <input
                            required
                            ngModel
                            [disabled]="isLoading"
                            type="password"
                            id="password"
                            name="password"
                            #password="ngModel"
                            placeholder="Contraseña"
                            size="44">
                        <span class="tooltip-content">Ingresa tu contraseña.</span>
                    </label>
                </div>
                
                <button
                    type="submit"
                    class="btn btn-primary btn-block"
                    [disabled]="loginForm.form.invalid || isLoading">
                iniciar sesión
                </button>
            </form>
        </div>
    </div>

    <div class="row flex-items-xs-center" *ngIf="loginFailed">
        <div class="col-xs-5" >
            <clr-alert
                [clrAlertType]="'alert-danger'"
                (clrAlertClosedChange)="closeAlert()">
                <div class="alert-item">
                    <span class="alert-text">
                        La información ingresada es incorrecta.
                    </span>
                </div>
            </clr-alert>
        </div>
    </div>

    <div class="row flex-items-xs-center" id="login-spinner" *ngIf="isLoading">
        <spinner></spinner>
    </div>
</div>